.wrapper:not(:last-child) {
    margin-bottom: 10px;
    text-decoration: none;
    text-underline: none;
}


.img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: url("https://persons-info.com/userfiles/image/persons/70000-80000/75000-76000/75814/GERMANIK_Neron_IUlii_TSezar_1.jpg") center / cover no-repeat;
    margin-right: 10px;
}
.content__status {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    text-underline: gold;
    color: coral;
}

.content {
    display: flex;
}
.content__info {
    padding: 5px;
    position: relative;
    background-color: cornsilk;
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}
.content__name {
    position: absolute;
    top: 6px;
    left: 6px;
    color: aqua;
    font-weight: bold;
}