.logo img {
	height: 50px;
	margin-left: 15px;
}

.logo {
	position: relative;
}

.logo__title {
	width: 200px;
	position: absolute;
	top: 50%;
	left: 100px;
	transform: translate(0, -50%);
	font-weight: bold;
}

.header {
	align-items: center;
	grid-area: header;
	background-color: darksalmon;
	display: flex;
	justify-content: space-between;
}

.list {
	display: flex;
}
.item a {
	font-weight: 700;
	color: cornflowerblue;
	margin-right: 20px;
	text-decoration: none;
}

.item a:hover {
	color: aqua;
}
.login {
	margin-right: 10px;
	color: cornflowerblue;
	font-weight: 700;
	font-size: 20px;
}

