.user {
	position: relative;
	text-align: center;
	transform: translate(-7.5px, 0px);
}

.user a {
	text-decoration: none;
	color: cornflowerblue;
	font-size: 15px;
	font-weight: 700;
}

.user:not(:last-child) {
	margin-bottom: 15px;
}

.user.active a {
	color:aqua;
}

.image {
	left: 0;
	top: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: brown;
	transform: translate(50%, -16%);
}

